@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Миксин для адаптации шрифтов*/
/*Функция для адаптации под широкие экраны*/
/*Шрифт по-умолчанию под большие экраны(адаптация блоков через rem)*/
@media (min-width: 2000px) {
  html, body {
    font-size: 20px;
  }
}
@media (min-width: 2500px) {
  html, body {
    font-size: 25px;
  }
}
@media (min-width: 3000px) {
  html, body {
    font-size: 30px;
  }
}
@media (min-width: 3700px) {
  html, body {
    font-size: 60px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #171930;
}

.container {
  max-width: 73.75rem;
  margin: 0px auto;
}

.title {
  font-size: calc(18px + 10 * ((100vw - 320px) / 960));
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  padding: 3.75rem 0.625rem 3.125rem;
}

@media (max-width: 767px) {
  .title {
    padding: 2.5rem 0.625rem 1.5625rem;
  }
}
.scroll__hidden {
  overflow: hidden;
}

.header {
  height: 100vh;
  position: relative;
}
.header__fone {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.header__fone img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5.625rem;
  align-items: center;
  margin-top: 0.625rem;
}
.header__burger, .header__burger-menu {
  display: none;
}
.header__nav {
  display: flex;
  width: 100%;
  padding: 0px 1.25rem;
}
.header__nav-img {
  width: 9.375rem;
  height: 9.375rem;
  margin-right: 1.25rem;
}
.header__nav-img img {
  width: 100%;
}
.header__ul {
  display: flex;
}
.header__li {
  margin-right: 1.875rem;
}
.header__li:last-child {
  margin-right: 10px;
}
.header__li a {
  font-weight: 500;
  color: rgba(40, 98, 112, 0.862745098);
  font-size: calc(8px + 6 * ((100vw - 320px) / 960));
  transition: all 0.2s linear;
}
.header__li a:hover {
  color: rgba(40, 98, 112, 0.5254901961);
}
.header__dropdown {
  position: relative;
  display: inline-block;
}
.header__dropdown:hover .header__dropdown-content {
  display: block;
}
.header__dropdown:hover .header__dropbtn {
  transition: all 0.2s linear;
  background-color: rgba(40, 98, 112, 0.5254901961);
}
.header__dropbtn {
  background-color: rgba(0, 98, 123, 0.7882352941);
  border-radius: 0.3125rem;
  color: white;
  padding: 0.75rem;
  font-size: calc(8px + 6 * ((100vw - 320px) / 960));
  border: none;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header__dropdown-content a {
  color: rgba(0, 98, 123, 0.7882352941);
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  text-align: center;
  font-size: calc(8px + 6 * ((100vw - 320px) / 960));
  display: block;
  transition: all 0.2s linear;
}
.header__dropdown-content a:hover {
  background-color: #ddd;
}
.header__block {
  width: 45%;
  display: flex;
  align-items: center;
  padding-top: 1.875rem;
  margin: 0px 10%;
}
.header__title {
  text-align: center;
  font-weight: 500;
  font-size: calc(26px + 4 * ((100vw - 320px) / 960));
  margin-bottom: 0.625rem;
  color: rgba(0, 98, 123, 0.7882352941);
}
.header__subtitle {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.875rem;
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
}
.header__text {
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 2.5rem;
  font-size: calc(15px + 1 * ((100vw - 320px) / 960));
  text-align: justify;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  width: 14.375rem;
  border-radius: 1.5625rem;
  padding: 0.625rem;
  margin: 10px auto;
  background-color: rgba(0, 98, 123, 0.9960784314);
  transition: all 0.3s linear;
}
.header__button a {
  color: #ffffff;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
}
.header__button:hover {
  cursor: pointer;
  background-color: rgba(0, 98, 123, 0.431372549);
}

@media (max-width: 1024px) {
  .header {
    background-color: rgba(226, 225, 231, 0.6862745098);
  }
  .header__nav, .header__ul {
    display: none;
  }
  .header__block {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 6%;
    width: 80%;
  }
  .header__fone img {
    -o-object-position: right;
       object-position: right;
  }
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 40px;
  }
  .header__burger img {
    width: 6.25rem;
    height: 6.25rem;
    z-index: 2;
  }
  .header__burger-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .header__burger-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  .header__burger-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .header__burger-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .header__burger-btn-active span:nth-of-type(1) {
    display: none;
  }
  .header__burger-btn-active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .header__burger-btn-active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  .header__burger-lang {
    display: flex;
    justify-content: space-between;
    width: initial;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .header__burger-lang li {
    margin-right: 30px;
  }
  .header__burger-lang :first-child a {
    color: black;
  }
  .header__burger-img {
    width: 30px;
    height: 30px;
  }
  .header__burger-img img {
    width: 100%;
    height: 100%;
  }
  .header__burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #00627b;
    transform: translateY(-100%);
    transition: transform 0.5s;
  }
  .header__burger-menu li {
    padding-bottom: 30px;
  }
  .header__burger-menu li a {
    color: #ffffff;
  }
  .header__burger-menu-active {
    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header__burger-menu-active li {
    padding-bottom: 30px;
  }
  .header__burger-menu-active li a {
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .header {
    height: 1200px;
    background-color: rgba(221, 220, 230, 0);
  }
  .header__button a {
    font-size: calc(17px + 11 * ((100vw - 320px) / 960));
    font-weight: 500;
  }
  .header__block {
    padding-top: 30px;
    height: auto;
  }
  .header__text {
    text-align: left;
  }
  .header__fone {
    height: 100%;
  }
  .header__fone img {
    -o-object-position: center;
       object-position: center;
  }
  .header__burger-menu-active li {
    padding-bottom: 20px;
  }
}
@media (max-width: 590px) {
  .header {
    height: 1380px;
  }
  .header__block {
    padding-top: 0px;
  }
}
.spec {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 98, 123, 0.7882352941);
}
.spec__title {
  color: white;
  max-width: 43.75rem;
}
.spec__tab {
  margin: 0px 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.spec__tab::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.5607843137);
}
.spec__tab:last-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.5607843137);
}
.spec__tab:last-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.5607843137);
  margin-bottom: 6.25rem;
}
.spec__tab-title {
  color: #ffffff;
  font-size: calc(14px + 6 * ((100vw - 320px) / 960));
  margin: 1.25rem 0px;
  width: 67vw;
  position: relative;
  font-weight: 400;
}
.spec__tab-title::after {
  content: "";
  border: solid #ffffff;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  position: absolute;
  padding: 0.3125rem;
  top: 0;
  right: 0.3125rem;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}
.spec__tab-title:hover {
  cursor: pointer;
}
.spec__tab-title.active::after {
  transform: rotate(-135deg);
}
.spec__tab-content {
  display: none;
}
.spec__tab-ul li {
  transition: all 2s;
  color: #ffffff;
  margin-bottom: 0.3125rem;
  font-size: calc(13px + 1 * ((100vw - 320px) / 960));
  line-height: 1.6;
  font-weight: 400;
}
.spec__tab-ul li::before {
  content: "";
  background-color: rgb(188, 226, 226);
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 0.3125rem 0.125rem 0px;
}

@media (max-width: 767px) {
  .spec__tab-title {
    width: 95vw;
  }
  .spec__tab:last-child::after {
    margin-bottom: 40px;
  }
}
.education {
  background-color: rgba(226, 225, 231, 0.6862745098);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.125rem;
}
.education::after {
  content: "";
  width: 77%;
  height: 0.0625rem;
  background-color: rgba(0, 98, 123, 0.7882352941);
  margin-top: 4.375rem;
}
.education__title {
  color: rgba(0, 98, 123, 0.7882352941);
}
.education__content-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1.875rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  align-items: center;
  padding: 0px 0.625rem;
}
.education__content-item::after {
  content: "";
  width: 0.1875rem;
  height: 100%;
  background-color: rgba(0, 98, 123, 0.7882352941);
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0px auto;
}
.education__content-item-last::after {
  display: none;
}
.education__content-year {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(0, 98, 123, 0.7882352941);
  margin: auto;
  padding: 2.5rem 1.875rem;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 400;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
}
.education__content-text-1, .education__content-text-3, .education__content-text-5 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.education__content-text-2, .education__content-text-4, .education__content-text-6 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.education__content-text {
  text-align: center;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  transition: all 0.1s linear;
}
.education__content-text:hover {
  cursor: pointer;
  color: rgba(37, 161, 192, 0.7882352941);
}
.education__img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6587009804) 14%, rgba(0, 0, 0, 0.9136029412) 62%, rgba(0, 0, 0, 0.9192051821) 90%);
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.education__img.active {
  opacity: 1;
  z-index: 2;
}
.education__img-btn {
  position: fixed;
  right: 2%;
  top: 2%;
  padding: 0.3125rem 0.625rem;
  border-radius: 50%;
  color: #e9e7e7;
  background-color: rgba(13, 76, 92, 0.6705882353);
  font-size: calc(11px + 7 * ((100vw - 320px) / 960));
}
.education__img-btn:hover {
  cursor: pointer;
  background-color: rgba(8, 120, 148, 0.4862745098);
}
.education__img img {
  align-self: center;
  margin: 0 auto;
  max-width: 80vw;
  max-height: 80vh;
}

@media (max-width: 767px) {
  .education::after {
    margin-top: 0px;
  }
  .education__content-item {
    grid-template-columns: auto 1fr;
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
    padding: 0px 0.625rem;
  }
  .education__content-item::after {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .education__content-text-1, .education__content-text-3, .education__content-text-5, .education__content-text-2, .education__content-text-4, .education__content-text-6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .education__content-text-1, .education__content-text-3, .education__content-text-5 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .education__content-year {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 3.125rem 2.5rem;
  }
}
@media (max-width: 380px) {
  .education::after {
    margin-top: 0px;
  }
  .education__content-item {
    grid-template-columns: auto 1fr;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    padding: 0px 0rem;
  }
}
.qualification {
  background-color: rgba(226, 225, 231, 0.6862745098);
}
.qualification__content {
  display: flex;
  justify-content: space-between;
  padding: 0px 0.625rem 5rem;
}
.qualification__content-left {
  width: 48%;
  margin-bottom: 1.875rem;
}
.qualification__content-right {
  width: 48%;
}
.qualification__title {
  font-size: calc(16px + 6 * ((100vw - 320px) / 960));
  font-weight: 400;
  margin-bottom: 0.9375rem;
  padding-left: 0.625rem;
  color: rgba(0, 98, 123, 0.7882352941);
}
.qualification__text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  line-height: 1.7;
  font-weight: 300;
  text-align: justify;
  padding: 1.25rem 1.25rem;
  background-color: #ffffff;
  border-radius: 10%;
  box-shadow: 0.5rem 0.5rem 0.3125rem -0.3125rem rgba(5, 60, 73, 0.5254901961);
}

@media (max-width: 767px) {
  .qualification__content {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .qualification__content-left, .qualification__content-right {
    width: 80%;
    margin-bottom: 1.25rem;
  }
  .qualification__text {
    text-align: left;
  }
}
.advantage {
  background-color: rgba(0, 98, 123, 0.7882352941);
}
.advantage__title {
  color: #ffffff;
}
.advantage__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.6875rem, 1fr));
  gap: 1.25rem;
  margin: 0px 0.625rem;
  padding-bottom: 6.25rem;
}
.advantage__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4%;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.advantage__card-img {
  margin: 1.875rem 0px 2.5rem;
  width: 6.5625rem;
  height: 5rem;
}
.advantage__card-img img {
  width: 100%;
  height: 100%;
}
.advantage__card-title {
  font-size: calc(17px + 1 * ((100vw - 320px) / 960));
  font-weight: 500;
  margin: 0px 0.625rem 1.25rem;
  color: rgba(0, 98, 123, 0.7882352941);
}
.advantage__card-text {
  font-size: calc(15px + 1 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  padding: 0px 1.25rem 6.25rem;
}

@media (max-width: 767px) {
  .advantage__cards {
    grid-template-columns: 1fr;
    margin: 0px 18%;
    padding-bottom: 1.875rem;
  }
  .advantage__card-text {
    padding: 0px 1.25rem 3.125rem;
  }
}
@media (max-width: 480px) {
  .advantage__cards {
    margin: 0px 5%;
  }
}
.steps {
  background-color: rgba(226, 225, 231, 0.6862745098);
}
.steps__container {
  max-width: 56.25rem;
  margin: 0 auto;
}
.steps__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.125rem;
  width: 100%;
}
.steps__title {
  color: rgba(0, 98, 123, 0.7882352941);
}
.steps__step-left {
  display: flex;
  justify-content: flex-start;
}
.steps__step-right {
  display: flex;
  justify-content: flex-end;
}
.steps__arrow {
  width: 25%;
  max-height: 4.375rem;
  align-self: flex-end;
  justify-self: flex-end;
  opacity: 0.7;
}
.steps__arrow img {
  width: 100%;
  height: 100%;
}
.steps__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0.3125rem 0.625rem 0.125rem rgba(130, 187, 231, 0.2);
  border-radius: 1.25rem;
  background-color: #ffffff;
  position: relative;
}
.steps__item-right {
  margin: 0px 0.625rem 0.625rem 0px;
  min-height: 10.625rem;
  width: 50%;
}
.steps__item-left {
  margin: 0px 0px 0.625rem 0.625rem;
  min-height: 10.625rem;
  width: 50%;
}
.steps__num {
  font-family: "Inconsolata", monospace;
  color: rgba(143, 184, 226, 0.2117647059);
  position: absolute;
  top: 0;
  left: 3%;
  font-weight: 700;
  font-size: calc(50px + 20 * ((100vw - 320px) / 960));
}
.steps__text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
  width: 67%;
  padding: 1.875rem 0px;
}

@media (max-width: 767px) {
  .steps__content {
    padding-bottom: 1.875rem;
  }
  .steps__arrow {
    width: 19%;
    height: 30px;
  }
  .steps__item-right, .steps__item-left {
    width: 65%;
  }
}
.faq {
  background-color: rgba(0, 98, 123, 0.7882352941);
}
.faq__title {
  color: #ffffff;
}
.faq__content {
  max-width: 56.25rem;
  margin: 0 auto 3.125rem;
}
.faq__li {
  position: relative;
  text-align: center;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  line-height: 1.5;
  font-weight: 300;
  border: 0.125rem solid #DDDDDD;
  border-radius: 0.625rem;
  background: #FAFAFA;
  padding: 1rem 1.25rem 1rem 1.75rem;
  margin: 0.75rem 0.625rem 1.25rem 2.5rem;
  transition-duration: 0.3s;
}
.faq__li:hover {
  cursor: default;
  background: #F0F5FB;
  border: 0.125rem solid #ADCEE9;
}
.faq__li:hover::before {
  width: 2.875rem;
  background: #337AB7;
}
.faq__li:hover::after {
  margin-left: 0.375rem;
  border-left-color: #337AB7;
}
.faq__li::before {
  line-height: 2rem;
  position: absolute;
  top: 0.25rem;
  left: -2.5rem;
  width: 2.5rem;
  text-align: center;
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #FFF;
  background: #77AEDB;
  content: "!";
  transition-duration: 0.2s;
}
.faq__li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  content: "";
  height: 0;
  width: 0;
  border: 1rem solid transparent;
  border-left-color: #77AEDB;
  transition-duration: 0.2s;
}
.faq__after {
  margin: 0px 0.625rem;
  padding-bottom: 0.9375rem;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: calc(14px + 4 * ((100vw - 320px) / 960));
}
.faq__after-last {
  padding-bottom: 3.125rem;
}

@media (max-width: 767px) {
  .faq__after-last {
    padding-bottom: 1.875rem;
  }
}
.contacts {
  background-color: rgba(226, 225, 231, 0.6862745098);
}
.contacts__title {
  color: rgba(0, 98, 123, 0.7882352941);
}
.contacts__container {
  max-width: 73.75rem;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2.5rem 1.25rem;
  margin: 0px 0.625rem 4.375rem;
  border-radius: 0.625rem;
  position: relative;
}
.contacts__left {
  width: 50%;
}
.contacts__left-success {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(0, 98, 123, 0.7882352941);
  font-size: calc(14px + 12 * ((100vw - 320px) / 960));
  line-height: 1.4;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  opacity: -1;
  transition: all 0.4s linear;
  background-color: rgba(255, 255, 255, 0.9529411765);
  z-index: -2;
}
.contacts__subtitle {
  text-align: center;
  margin: 0px 0.625rem 1.25rem;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 1.4;
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__form input::-moz-placeholder {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.contacts__form input:-ms-input-placeholder {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.contacts__form input::placeholder {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.contacts__form textarea::-moz-placeholder {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.contacts__form textarea:-ms-input-placeholder {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.contacts__form textarea::placeholder {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.contacts__form label {
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
}
.contacts__form label:hover {
  cursor: pointer;
}
.contacts__form-name, .contacts__form-phone, .contacts__form-text {
  background-color: rgba(0, 98, 123, 0.0745098039);
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  transition: all 0.2s linear;
}
.contacts__form-name:hover, .contacts__form-phone:hover, .contacts__form-text:hover {
  background-color: rgba(35, 155, 185, 0.0745098039);
}
.contacts__form-text {
  height: 6.25rem;
}
.contacts__form-radio {
  margin-bottom: 0.9375rem;
}
.contacts__form-radio-title {
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
  padding-bottom: 0.625rem;
  text-align: center;
}
.contacts__form-radio div {
  margin-bottom: 0.3125rem;
}
.contacts__button {
  padding: 0.625rem 2.5rem;
  border-radius: 5px;
  background-color: rgba(0, 98, 123, 0.7882352941);
  color: #ffffff;
  line-height: 1.3;
  font-weight: 300;
  align-self: center;
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
  transition: all 0.3s linear;
}
.contacts__button:hover {
  background-color: rgba(0, 98, 123, 0.4039215686);
}
.contacts__img {
  margin-bottom: 6.25rem;
  width: 350px;
}
.contacts__img img {
  width: 100%;
}
.contacts__number {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
}
.contacts__number p {
  padding-left: 0.625rem;
}
.contacts__number p span {
  font-size: calc(6px + 4 * ((100vw - 320px) / 960));
}
.contacts__email {
  display: flex;
  align-items: center;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
}
.contacts__email p {
  padding-left: 0.625rem;
}

@media (max-width: 767px) {
  .contacts__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.25rem;
    margin: 0px 0.625rem 1.875rem;
  }
  .contacts__left {
    width: 100%;
  }
  .contacts__left-success {
    width: 100%;
    height: 50%;
  }
  .contacts__img {
    width: 250px;
    margin: 40px 0px 20px;
  }
  .contacts__button {
    font-weight: 500;
    font-size: calc(17px + 11 * ((100vw - 320px) / 960));
  }
}
.active {
  opacity: 1;
  z-index: 2;
}

.footer {
  background-color: rgba(0, 98, 123, 0.7882352941);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.625rem;
}
.footer__left {
  display: flex;
  flex-direction: column;
  margin: 0px 0.625rem;
  width: 30%;
}
.footer__title {
  color: #ffffff;
  font-size: calc(12px + 6 * ((100vw - 320px) / 960));
  padding: 1.875rem 0px 0.9375rem;
  text-align: center;
}
.footer__ul {
  display: flex;
  justify-content: center;
}
.footer__ul li {
  margin: 0px 0.625rem;
}
.footer__ul a {
  transition: all 1s linear;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: calc(8px + 4 * ((100vw - 320px) / 960));
}
.footer__ul a :hover {
  color: #80d5f7;
}
.footer__ul:first-child {
  margin-left: 0px;
}
.footer__ul img {
  width: 1.5625rem;
  height: 1.5625rem;
}
.footer__text {
  color: #ffffff;
  text-align: center;
  padding-bottom: 1.25rem;
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
}
.footer__right {
  display: flex;
  flex-direction: column;
  margin: 0px 0.625rem;
  width: 30%;
}

@media (max-width: 767px) {
  .footer__ul {
    flex-direction: column;
  }
  .footer__ul li {
    margin-bottom: 5px;
  }
}