@import 'null_style.scss';

/*Анимация прелофдер*/
@keyframes loader {
    0% {
        transform: scale(1) rotate(0);
    }
    20%, 25% {
        transform: scale(1.3) rotate(90deg);
    }
    45%, 50% {
        transform: scale(1) rotate(180deg);
    }
    70%, 75% {
        transform: scale(1.3) rotate(270deg);
    }
    95%, 100% {
        transform: scale(1) rotate(360deg);
    }
}

/*Миксин для адаптации шрифтов*/
$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

/*Функция для адаптации под широкие экраны*/
@function -rem($px){
    @return $px / 16 + rem;
}

/*Шрифт по-умолчанию под большие экраны(адаптация блоков через rem)*/
@media (min-width: 2000px){
    html, body{
        font-size: 20px; 
    }
}
@media (min-width: 2500px){
    html, body{
        font-size: 25px;
    }
}
@media (min-width: 3000px){
    html, body{
        font-size: 30px; 
    }
}
@media (min-width: 3700px){
    html, body{
        font-size: 60px; 
    }
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #171930;
}

.container {
    max-width: -rem(1180);
    margin: 0px auto;
}

.title{
    @include adaptiv-font(28, 18);
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    padding: -rem(60) -rem(10) -rem(50);
}
@media(max-width: 767px){
    .title{
        padding: -rem(40) -rem(10) -rem(25);
    }
}

.scroll__hidden{
    overflow: hidden;
}

.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60a5b7;
    z-index: -2;
    opacity: -1;
    transition: all 0.4s linear;
    &__loader {
        --dim: 3rem;
        width: var(--dim);
        height: var(--dim);
        position: relative;
        animation: loader 2s linear infinite;
        
        & .circle {
            --color: #333;
            --dim: 1.2rem;
            width: var(--dim);
            height: var(--dim);
            background-color: var(--color);
            border-radius: 50%;
            position: absolute;
        }
        & .circle:nth-child(1) {
            top: 0;
            left: 0;
        }
        & .circle:nth-child(2) {
            top: 0;
            right: 0;
        }
        & .circle:nth-child(3) {
            bottom: 0;
            left: 0;
        }
        & .circle:nth-child(4) {
            bottom: 0;
            right: 0;
        }
    }
}




.header {
    height: 100vh;
    position: relative;
    &__fone{
        width:100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        overflow: hidden;
        & img{
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }    
    &__menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: -rem(90);
        align-items: center;
        margin-top: -rem(10);
    }
    &__burger, &__burger-menu{
        display: none;
    }
    &__nav {
        display: flex;
        width: 100%;
        padding: 0px -rem(20);
        &-img{
            width: -rem(150);
            height: -rem(150);
            margin-right: -rem(20);
            & img{
                width: 100%;
            }
        }
    }
    &__ul {
        display: flex;
    }
    &__li {
        margin-right: -rem(30);        
        &:last-child{
            margin-right: 10px
        }
        & a{
            font-weight: 500;
            color: #286270dc;
            @include adaptiv-font(14, 8);
            transition: all 0.2s linear;
            &:hover{
                color: #28627086;
            }
        }
    }
	&__dropdown {
        position: relative;
        display: inline-block;
        &:hover{
            .header__dropdown-content{
                z-index: 1;
                opacity: 1;
                transform: translateY(0%);
            }
            .header__dropbtn {
                transition: all 0.2s linear;
                background-color: #28627086;
            }
        }
	}
	&__dropbtn {
        background-color: #00627bc9;
        border-radius: -rem(5);
        color: white;
        padding: -rem(12);
        @include adaptiv-font(14, 8);
        border: none;
        z-index: 4;
	}
	&__dropdown-content {
        z-index: -1;
        opacity: -1;
        transform: translateY(-5%);
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px -rem(8) -rem(16) 0px rgba(0,0,0,0.2);
        transition: opacity 0.6s linear, transform 0.3s linear;
        & a{
            color: #00627bc9;
            padding: -rem(12) -rem(12);
            text-decoration: none;
            text-align: center;
            @include adaptiv-font(14, 8);
            display: block;
            transition: all 0.3s linear;
            &:hover{
                background-color: #ddd;
            }
        }
	}
    &__block {
        width: 45%;
        display: flex;
        align-items: center;
        padding-top: -rem(30);
        margin: 0px 10%  ;
    }
    &__title {
        text-align: center;
        font-weight: 500;
        @include adaptiv-font(30, 26);
        margin-bottom: -rem(10);
        color: #00627bc9;
    }
    &__subtitle {
        font-weight: 500;
        text-align: center;
        margin-bottom: -rem(30);
        @include adaptiv-font(18, 16);
    }
    &__text {
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: -rem(40);
        @include adaptiv-font(16, 15);
        text-align: justify;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        
        & a{
            line-height: 1.5;
            font-weight: 300;
            text-align: center;
            width: -rem(230);
            border-radius: -rem(25);
            padding: -rem(10);
            margin: 10px auto;
            background-color: #00627bfe;
            transition: all 0.3s linear;
            display:block;
            color: #ffffff;
            @include adaptiv-font(16, 14);
            &:hover{
                cursor: pointer;
                background-color: #00627b6e;
            }
        }
    }
}
@media (max-width: 1024px){
    .header {
        background-color: #e2e1e7af;
        &__nav, &__ul {
            display: none;
		}
		&__block {
            height: 100%;
            margin: 0 auto;
            padding-bottom: 6%;
            width: 80%;
		}
        &__fone img{
            object-position: right;
        }
        &__burger{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 50px 0px 40px;
            & img{
                width: -rem(100);
                height: -rem(100);
                z-index: 2;
            }
            &-btn{
                width: 30px;
                height: 30px;
                position: relative;
                z-index:2;
                overflow: hidden;
                & span{
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #222222;
                    transition: all 0.5s;
                }
                & span:nth-of-type(2) {
                    top: calc(50% - 5px);
                }
                & span:nth-of-type(3) {
                    top: calc(50% + 5px);
                }
                &-active span:nth-of-type(1) {
                    display: none;
                }
                &-active span:nth-of-type(2) {
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(45deg);  
                }
                &-active span:nth-of-type(3) {
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(-45deg); 
                }
            }
            &-lang{
                display: flex;
                justify-content: space-between;
                width:initial;
                position: absolute;
                bottom: 10px;
                right: 0;
                & li{
                    margin-right: 30px;
                }
                & :first-child a{
                    color: black;
                }
            }
        }
        &__burger-img{
            width: 30px;
            height: 30px;
            & img{
                width: 100%;
                height: 100%;
            }
        }
        &__burger-menu{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            background: #00627b;
            transform: translateY(-100%);
            transition: transform 0.5s;
            & li {
                padding-bottom: 30px;
                & a{
                    color: #ffffff;
                }
            }
            &-active {
                transform: translateY(0);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                & li {
                    padding-bottom: 30px;
                    & a{
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .header {
        height: 1200px;
        background-color: #dddce600;
        &__button a{
            @include adaptiv-font(28, 17);
            font-weight: 500;
        }
        &__block{
            padding-top: 30px;
            height:auto;
        }
        &__text {
            text-align:left;
        }
        &__fone{
            height: 100%;
            & img{
                object-position: center;
            }
        }
        &__burger-menu-active li{
            padding-bottom: 20px;
        }
    }
}
@media (max-height: 590px){
    .header{
        &__block{
            align-items: flex-start;
            padding-top: 0px;
        }
        &__text{
            margin-bottom: 10px;
        }
        &__subtitle{
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 590px) {
    .header {
        height: 1350px;
    }
}


.spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00627bc9;
    &__title{
        color: white;
        max-width: -rem(700);
    }
    &__tab {
        margin: 0px -rem(10);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: -rem(2);
            background-color: #ffffff8f;
        }
        &:last-child{
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: -rem(2);
                background-color: #ffffff8f;
            }
            &::after{
                content: '';
                display: block;
                width: 100%;
                height: -rem(2);
                background-color: #ffffff8f;
                margin-bottom: -rem(100)
            }
        }
    }
    &__tab-title {
        color: #ffffff;
        @include adaptiv-font(20, 14);
        margin: -rem(20) 0px;
        width: 69vw;
        position: relative;
        font-weight: 400;
        &::after{
            content: '';
            border: solid #ffffff;
            border-width: 0 -rem(2) -rem(2) 0;
            display: inline-block;
            position: absolute;
            padding: -rem(5);
            top: 0;
            right: -rem(5);
            transform: rotate(45deg);
            transition: all 0.2s linear;
        }
        &:hover{
            cursor: pointer;
        }
        &.active{
            &::after{
                transform: rotate(-135deg);
            }
        }
    }
    &__tab-content {
        display: none;
    }
    &__tab-ul li{
        transition: all 2s;
        color: #ffffff;
        margin-bottom: -rem(10);
        @include adaptiv-font(14, 13);
        line-height: 1.3;
        font-weight: 400;
        &::before{
            content: '';
            background-color: rgb(188, 226, 226);
            width: -rem(6);
            height: -rem(6);
            border-radius: 50%;
            display: inline-block;
            margin: 0px -rem(5) -rem(2) 0px;
        }
    }
}
@media(max-width: 767px){
    .spec {
        &__tab-title {
            width: 95vw;
            &::before{
                content: '';
                border: solid #ffffff;
                border-width: 0 -rem(2) -rem(2) 0;
                display: inline-block;
                padding: -rem(3);
                margin: 0px 10px 3px 5px;
                transform: rotate(45deg);
                transition: all 0.2s linear;
            }
            &::after{
                display: none;
            }
            &.active::before{
                transform: rotate(-135deg);
            }
        }
        &__tab:last-child::after{
        margin-bottom: 40px;
        }
        &__tab-ul li{
            width: 90%;
        }
    }
}

.education {
    background-color: #e2e1e7af;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: -rem(50);
    &::after{
        content: '';
        width: 77%;
        height: -rem(1);
        background-color: #00627bc9;
        margin-top: -rem(70);
    }
    &__title {
        color: #00627bc9;
    }    
    &__content-item {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr -rem(30);
        column-gap: -rem(20);
        align-items: center;
        padding: 0px -rem(10);
        &::after{
            content: '';
            width: -rem(3);
            height: 100%;
            background-color: #00627bc9;
            display: block;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: 0px auto;
        }
        &-last{
            &::after{
                display: none;
            }
        }
    }
    &__content-year {
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: #00627bc9;
        margin:auto;
        padding: -rem(40) -rem(30);
        border-radius: 50%;
        color: #ffffff;
        font-weight: 400;
        @include adaptiv-font(16, 12);
    }
    &__content-text-1, &__content-text-3, &__content-text-5 {
        grid-column-start: 3;
        grid-column-end: 4;
        
    }
    &__content-text-2, &__content-text-4, &__content-text-6 {
        grid-column-start: 1;
        grid-column-end: 2; 
    }
    &__content-text {
        text-align: center;
        @include adaptiv-font(16, 14);
        font-weight: 300;
        transition: all 0.1s linear;
        &:hover{
            cursor: pointer;
            color: #25a1c0c9;
        }
    }
    &__img {
        position:fixed;
        width: 100vw;
        height: 100vh;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0.6587009803921569) 14%, rgba(0,0,0,0.9136029411764706) 62%, rgba(0,0,0,0.9192051820728291) 90%);
        top: 0;
        left: 0;
        display: flex;
        opacity: 0;
        z-index: -1;
        transition: all 0.4s ease-in-out;
        &.active{
            opacity: 1;
            z-index: 2;
        }
        &-btn{
            position: fixed;
            right: 2%;
            top: 2%;
            padding: -rem(5) -rem(10);
            border-radius: 50%;
            color: #e9e7e7;
            background-color: #0d4c5cab;
            @include adaptiv-font(18, 11);
            &:hover{
            cursor: pointer;
            background-color: #0878947c;
            }
        }
        & picture{
            align-self: center;
            margin: 0 auto;
            & img {
                width: -rem(700);
                height: -rem(500);
                
            }
            & .vertical{
                width: -rem(400);
                height: -rem(600);
            }
        }
    }
}

@media(max-width: 767px){
    .education {
        &__img {
            & picture img {
            width: -rem(360);
            height: -rem(200);
            }
            & picture .vertical{
                width: -rem(310);
                height: -rem(500);
            }
        }
        &::after{
            margin-top: 0px;
        }
        &__content-item{
            grid-template-columns: auto 1fr;
            column-gap: -rem(10);
            padding: 0px -rem(10);
            &::after{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;                
            }
        }
        &__content-text-1, &__content-text-3, &__content-text-5, &__content-text-2, &__content-text-4, &__content-text-6 {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        &__content-text-1, &__content-text-3, &__content-text-5{
            grid-row-start: 1;
            grid-row-end: 2;
        }
        &__content-year {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            padding: -rem(50) -rem(40);
        }
    }
}
@media(max-width: 380px){
    .education {
        &__img picture img{
            width: -rem(320);
            height: -rem(200);
        }
        &::after{
            margin-top: 0px;
        }
        &__content-item{
            grid-template-columns: auto 1fr;
            column-gap: -rem(0);
            padding: 0px -rem(0);
        }
    }
}

.qualification {
    background-color: #e2e1e7af;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0px -rem(10) -rem(80);
    }
    &__content-left {
        width: 48%;
        margin-bottom: -rem(30);
    }
    &__content-right {
        width: 48%;
    }
    &__title{
        @include adaptiv-font(22, 16);
        font-weight: 400;
        margin-bottom: -rem(15);
        padding-left: -rem(10);
        color: #00627bc9; 
    }
    &__text{
        @include adaptiv-font(16, 14);
        line-height: 1.7;
        font-weight: 300;
        text-align: justify;
        padding: -rem(20) -rem(20);
        background-color: #ffffff;
        border-radius: 10%;
        box-shadow: -rem(8) -rem(8) -rem(5) -rem(-5) #053c4986;
    }
}
@media(max-width: 767px){
    .qualification{
        &__content{
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;
        }
        &__content-left,  &__content-right{
            width: 80%;
            margin-bottom: -rem(20);
        }
        &__text{
            text-align: left;
        }
    }
}

.advantage {
    background-color: #00627bc9;
    &__title {
        color: #ffffff;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(-rem(235), 1fr));
        gap: -rem(20);
        margin: 0px -rem(10); 
        padding-bottom: -rem(100);
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border-radius: 4%;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    }
    &__card-img {
        margin: -rem(30) 0px -rem(40);
        width: -rem(105);
        height: -rem(80);
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__card-title {
        @include adaptiv-font(18, 17);
        font-weight: 500;
        margin: 0px -rem(10) -rem(20);
        color: #00627bc9;
    }
    &__card-text {
        @include adaptiv-font(16, 15);
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        padding: 0px -rem(20) -rem(100);
    }
}
@media(max-width: 767px){
    .advantage {
        &__cards{
            grid-template-columns: 1fr;
            margin: 0px 18%;
            padding-bottom: -rem(30);
        }
        &__card-text{
            padding: 0px -rem(20) -rem(50);
        }
    }
}
@media(max-width: 480px){
    .advantage {
        &__cards{
            margin: 0px 5%;
        }
    }
}

.steps {
    background-color: #e2e1e7af;
    &__container{
        max-width: -rem(900);
        margin: 0 auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding-bottom: -rem(50);
        width: 100%;
    }
    &__title {
        color: #00627bc9;
    }
    &__step{
        &-left{
            display:flex;
            justify-content:flex-start;
        }
        &-right{
            display:flex;
            justify-content:flex-end;
        }
    }
    &__arrow{
        width: 25%;
        max-height: -rem(70);
        align-self: flex-end;
        justify-self: flex-end;
        opacity: 0.7;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -rem(5) -rem(10) -rem(2) rgba(130, 187, 231, 0.2);
        border-radius: -rem(20);
        background-color: #ffffff;
        position: relative;
    }
    &__item-right {
        margin: 0px -rem(10) -rem(10) 0px;
        min-height: -rem(170);
        width: 50%;
    }
    &__item-left {
        margin: 0px 0px -rem(10) -rem(10);
        min-height: -rem(170);
        width: 50%;
    }
    
    &__num {
        font-family: 'Inconsolata', monospace;
        color: #8fb8e236;
        position: absolute;
        top: 0;
        left: 3%;
        font-weight: 700;
        @include adaptiv-font(70, 50);
    }
    &__text {
        @include adaptiv-font(16, 14);
        font-weight: 300;
        text-align: center;
        line-height: 1.4;
        width: 67%;
        padding: -rem(30) 0px;
    }
}
@media(max-width: 767px){
    .steps{
        &__content{
            padding-bottom: -rem(30);
        }
        &__arrow{
            width: 19%;
            height: 30px;
        }
        &__item-right, &__item-left {
            width: 65%;
        }
    }
}

.faq {
    background-color: #00627bc9;
    &__title {
        color: #ffffff;
    }
    &__content {
        max-width:-rem(900);
        margin: 0 auto -rem(50);
    }
    &__li {
        position: relative;
        text-align: center;
        @include adaptiv-font(16, 12);
        line-height: 1.5;
        font-weight: 300;
        border: -rem(2) solid #DDDDDD;
        border-radius: -rem(10);
        background: #FAFAFA;
        padding:-rem(16) -rem(20) -rem(16) -rem(28);
        margin:-rem(12) -rem(10) -rem(20) -rem(40);
        transition-duration: 0.3s;
        &:hover{
            cursor:default;
            background: #F0F5FB;
            border: -rem(2) solid #ADCEE9;
            &::before{
                width:-rem(46);
                background: #337AB7;
            }
            &::after{
                margin-left: -rem(6);
                border-left-color: #337AB7;
            }
        }
        &::before{
            line-height: -rem(32);
            position: absolute;
            top: -rem(4);
            left:-rem(-40);
            width:-rem(40);
            text-align:center;
            @include adaptiv-font(14, 10);
            font-weight: 300;
            color: #FFF;
            background: #77AEDB;
            content: '!';
            transition-duration: 0.2s;
        }
        &::after{
            position: absolute;
            left: 0;
            top: -rem(4);
            content: "";
            height: 0;
            width: 0;
            border: -rem(16) solid transparent;
            border-left-color: #77AEDB;
            transition-duration: 0.2s
        }
    }
    &__after {
        margin: 0px -rem(10);
        padding-bottom: -rem(15);
        text-align: center;
        color: #ffffff;
        font-weight: 500;
        @include adaptiv-font(18, 14);
        &-last{
            padding-bottom: -rem(50);
        }
    }
}
@media(max-width: 767px){
    .faq__after-last{
        padding-bottom: -rem(30);
    }
}

.contacts {
    background-color: #e2e1e7af;
    &__title {
        color: #00627bc9;
    }
    &__container{
        max-width: -rem(1180);
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: -rem(40) -rem(20);
        margin: 0px -rem(10) -rem(70);
        border-radius: -rem(10);
        position: relative;
    }
    &__left {
        width: 50%;
        &-success{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: #00627bc9;
            @include adaptiv-font(26, 14);
            line-height: 1.4;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 50%;
            opacity: -1;
            transition: all 0.4s linear;
            background-color: #fffffff3;
            z-index: -2;
        }
    }
    &__subtitle {
        text-align: center;
        margin: 0px -rem(10) -rem(20);
        @include adaptiv-font(16, 12);
        font-weight: 300;
        line-height: 1.4;
    }
    &__form {
        display: flex;
        flex-direction: column;
        & input::placeholder{
            @include adaptiv-font(14, 10);
        }
        & textarea::placeholder{
            @include adaptiv-font(14, 10);
        }
        & label {
            @include adaptiv-font(14, 12);
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__form-name, &__form-phone, &__form-text {
        background-color: #00627b13;
        padding: -rem(15);
        margin-bottom: -rem(15);
        transition: all 0.2s linear;
        &:hover{
            background-color: #239bb913;
        }
    }
    &__form-text {
        height: -rem(100);
    }
    &__form-radio{
        margin-bottom: -rem(15);
        &-title{
            @include adaptiv-font(14, 10);
            padding-bottom: -rem(10);
            text-align: center;
        }
        & div{
            margin-bottom: -rem(5);
        }
    }
    &__button {
        padding: -rem(10) -rem(40);
        border-radius: 5px;
        background-color: #00627bc9;
        color: #ffffff;
        line-height: 1.3;
        font-weight: 300;
        align-self: center;
        @include adaptiv-font(14, 12);
        transition: all 0.3s linear;
        &:hover{
            background-color: #00627b67;
        }
    }
    &__img {
        margin-bottom: -rem(100);
        width: 350px;
        & img{
            width: 100%;
        }
    }
    &__number {
        display: flex;
        align-items: center;
        margin-bottom: -rem(15);
        @include adaptiv-font(16, 12);
        & p {
            padding-left: -rem(10);
            & span{
                @include adaptiv-font(10, 6)
            }
        }
    }
    &__email {
        display: flex;
        align-items: center;
        @include adaptiv-font(16, 12);
        & p {
            padding-left: -rem(10);
        }
    }
}
@media(max-width: 767px){
    .contacts{
        &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: -rem(40) -rem(20);
        margin: 0px -rem(10) -rem(30);
        }
        &__left {
            width: 100%;
            &-success{
                width: 100%;
                height: 50%;
            }
        }
        &__img {
            width: 250px;
            margin: 40px 0px 20px;
        }
        &__button {
            font-weight: 500;
            @include adaptiv-font(28, 17);
        }
    }
}
.active{
    opacity: 1;
    z-index: 2;
}

.footer {
    background-color: #00627bc9;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: -rem(10);
    }
    &__left {
        display: flex;
        flex-direction: column;
        margin: 0px -rem(10);
        width: 30%;
    }
    &__title {
        color: #ffffff;
        @include adaptiv-font(18,  12);
        padding: -rem(30) 0px -rem(15);
        text-align: center;
    }
    &__ul {
        display: flex;
        justify-content: center;
        & li {
            margin: 0px -rem(10);
        }
        & a{
            transition: all 1s linear;
            color: #ffffff;
            display: flex;
            align-items: center;
            @include adaptiv-font(12, 8);
            :hover{
                color: #80d5f7;
            }
        }
        &:first-child {
            margin-left: 0px;
        }
        & img {
            width: -rem(25);
            height: -rem(25);
        }
    }
    &__text {
        color: #ffffff;
        text-align: center;
        padding-bottom: -rem(20);
        @include adaptiv-font(14, 10)
    }
    &__right {
        display: flex;
        flex-direction: column;
        margin: 0px -rem(10);
        width: 30%;
    }
}
@media(max-width: 767px){
    .footer {
        &__ul{
            flex-direction: column;
            & li{
                margin-bottom: 5px;
            }
        }
    }
}

